.search {
  display: flex;
  align-items: center;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #fff;
  border: none;
  color: #333;
  padding: 5px 0.5rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out 0.5s;
  margin-right: -2.2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #fff;
}

.search__input::-webkit-input-placeholder {
  color: #333;
}

.search__input:focus + .search__button {
  background-color: #fff;
}

.search__button {
  border: none;
  background-color: #fff;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #333;
}
.form-select {
  padding: 0.25rem 2.25rem 0.25rem 0.75rem;
  width: 100% !important;
}

