.section-div {
  margin-bottom: 110px !important;
}
i {
  cursor: pointer;
}
.container-img {
  max-width: 500px;
  max-height: 500px;
}
.container-productview {
  margin-top: 15vh;
}
.container-view {
  flex-wrap: nowrap;
}
@media (max-width: 992px) {
  .product-body {
    margin-left: 0 !important;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .product-image {
    width: 100% !important;
    height: 300px !important;
  }
  .container-view {
    flex-wrap: wrap;
  }
}
.suggested-card {
  width: 252px;
  height: 326px;
  background: white;
  border-radius: 30px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.suggested-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .suggested-container {
    gap: 10px;
  }
}
