.section-div {
  margin-bottom: 110px !important;
}
i {
  cursor: pointer;
}
.container-img {
  max-width: 500px;
  max-height: 500px;
}
.container-productview {
  margin-top: 15vh;
}
.container-view {
  flex-wrap: nowrap;
}
@media (max-width: 992px) {
  .product-body {
    margin-left: 0 !important;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .product-image {
    width: 100% !important;
    height: 300px !important;
  }
  .container-view {
    flex-wrap: wrap;
  }
}
