body {
  margin: 0;
  background-color: var(--customLightGreen);
  color: rgb(0, 0, 0);
  min-height: 100vh;
  font-family: "Axiforma", sans-serif;
}
:root {
  --customBlue: #718da1;
  --customLightGreen: hsl(138, 30%, 89%);
  --customBeige: #d0d88a;
  --customGreen: #aad054;
  --customDarkGreen: #68844a;
}
.btnColor {
  background-color: var(--customBlue);
  color: white;
}

.navbar {
  width: 100%;
  background-color: transparent !important;
  z-index: 100;
}
#header-image {
  background-image: url("/delicioso-desayuno-yogurt-frutas_23-2148529414.jpg");
  background-size: cover;
  height: 800px;
}
#curva {
  bottom: 0;
  z-index: 2;
  width: 100%;
  left: 0;
  border-width: 0 100vw 5.3vw 0;
  border-style: solid;
  border-color: var(--customLightGreen) transparent var(--customLightGreen)
    transparent;
}
.div-curva {
  height: 200px;
}

.category-item:hover {
  scale: 1.1;
  transition: 0.3s all ease;
}
#category {
  height: 300px;
}
#combos {
  height: 600px;
}
#combos img {
  height: 400px;
  object-fit: cover;
}
.carousel-indicators {
  z-index: 0;
}

.accordion-button {
  background-color: transparent !important;
}
#curva-footer {
  bottom: 0;
  z-index: 2;
  width: 100%;
  left: 0;
  border-width: 0 100vw 5.3vw 0;
  border-style: solid;
  border-color: #212529 transparent #212529 transparent;
}
.faq-height {
  height: 400px;
}
.li-footer {
  list-style: none;
}

/* .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  place-items: center;
  gap: 20px;
} */
.img-products {
  width: 100%;
  object-fit: cover;
}

.cart-image {
  width: 120px;
  height: 120px;
}
ol a {
  list-style: none;
  text-decoration: none;
  color: #212529;
}
.MuiCard-root a {
  text-decoration: none !important;
}
